.badge
  margin-bottom: 5px
  margin-top: 5px

.badVersionBadge
  height: fit-content
  padding: 1em
  text-align: center

.codeBlock
  background: var(--color-accent-content)
  text-wrap: auto

.scenarioCard
  transition: background-color 0.5s ease
  margin-bottom: 1em

.wide
  width: 100%

code > ol
  list-style-type: circle